<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content class="mat-typography" class = "{{isLoading ? 'disabled':''}}">
    <div class="w100">
      <app-package-delivery>
        <form class="form {{formClass}}" [formGroup]="formGroup" (ngSubmit)="saveForm(formGroup)">
          <div *ngIf="!isUpdate">
            <mat-checkbox formControlName="isActive">
                Set as active Delivery
            </mat-checkbox>
          </div>
          <mat-form-field class="form-field">
            <mat-label>Address : </mat-label>
            <input type="text"
              placeholder="Location"
              matInput
              name="address" matInput 
              id = "delivery-address-selector"
              matInput [errorStateMatcher]="errorStateMatcher"
              formControlName="address"
              [class.is-invalid]="isFieldValid('address')"  
              [value] = "delivery?.address"
           />
            <map-location inputSelector="#delivery-address-selector" [location]="delivery?.location" [onPlaceChange] = "onLocationPlaceChange"></map-location>
              @if (!isFieldValid('address')) {
                <mat-error>Location <strong>required</strong></mat-error>
              }
          
          </mat-form-field>
          <mat-form-field class="form-field" class="{{isUpdate?'disabled':''}}">
            <mat-label>Package Id</mat-label>
            <input type="text"
              placeholder="Select Package Id"
              matInput
              name="package_id" matInput [errorStateMatcher]="errorStateMatcher"
              formControlName="package_id"
              [class.is-invalid]="isFieldValid('package_id')"  
              [matAutocomplete]="auto"
              readonly="{{isUpdate?true:false}}"
              [value] = "delivery?.package_id"
              title = 'You can filter values with one of the fields : {{packagesFiltersFieldsText}}'
           />
            <mat-autocomplete
              #auto="matAutocomplete"
              disabled="isLoading"
              class="{{isUpdate?'disabled':''}}"
            >
              @if (!isUpdate) {
                @for (p of filteredPackages; track p) {
                  <mat-option  [value]="p.package_id">{{p.description}}, {{p.from_address ||''}} => {{p.to_address||''}} [{{p.package_id}}] </mat-option>
                }
              }
            </mat-autocomplete>
            @if (!isFieldValid('package_id')) {
              <mat-error>package_id is <strong>required</strong></mat-error>
            }
          </mat-form-field>
          <mat-form-field class="form-field">
            <mat-label>Pickup Time</mat-label>
            <input type="datetime-local" name="pickup_time" matInput [errorStateMatcher]="errorStateMatcher"
              [defaultValue]="delivery?.pickup_time"
              formControlName="pickup_time"
              [class.is-invalid]="isFieldValid('pickup_time')"  
              disabled="isLoading"
              >
            @if (!isFieldValid('pickup_time')) {
                <mat-error>Pick up time field is required <strong>required</strong></mat-error>
            }
          </mat-form-field>
          
          <mat-form-field class="form-field">
            <mat-label>Start Time</mat-label>
            <input type="datetime-local" name="start_time" matInput  [errorStateMatcher]="errorStateMatcher"
              [defaultValue]="delivery?.start_time"
                formControlName="start_time"
                [class.is-invalid]="isFieldValid('start_time')"  
                disabled="isLoading"
              >
              @if (!isFieldValid('start_time')) {
                  <mat-error>Start Time field is required <strong>required</strong></mat-error>
              }
          </mat-form-field>
          
          <mat-form-field class="form-field">
            <mat-label>End Time</mat-label>
            <input type="datetime-local" name="end_time" matInput  [errorStateMatcher]="errorStateMatcher"
                [defaultValue]="delivery?.end_time"
                formControlName="end_time"
                disabled="isLoading"
                [class.is-invalid]="isFieldValid('end_time')"  
            >
          </mat-form-field>
          
          <mat-form-field class="form-field">
            <mat-label>Status</mat-label>
            <mat-select
              name="status" matInput  [errorStateMatcher]="errorStateMatcher"
              [value]="delivery?.status"
              formControlName="status"
              disabled="isLoading"
              [class.is-invalid]="isFieldValid('status')"
            >
              @for (status of statutes ; track status) {
                <mat-option [value]="status">{{status}}</mat-option>
              }
            </mat-select>
            @if (!isFieldValid('status')) {
              <mat-error>Status field is required <strong>required</strong></mat-error>
            }
          </mat-form-field>
         
        </form>
      </app-package-delivery>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <mat-progress-spinner *ngIf="isLoading" diameter="20"></mat-progress-spinner>
  <button [disabled] ="isLoading" mat-button mat-dialog-close>Cancel</button>
  <button type="submit" (click)="saveForm(formGroup)" mat-button [disabled] ="isLoading || !isFormValid()" >{{isUpdate?"Edit":"Add"}}</button>
</mat-dialog-actions>