
<main class="main">
  <div class="main-content container">
    <h2 class="m-2 text-center w100">
        Web Tracker
    </h2>
    <div class="main-header">
        <div class="flex">
            <input placeholder="Enter Package ID" class="pl-1 " [value]="packageId" (input)="onSearchChange($event.target.value)"/>
            <button mat-flat-button class="ml-2" [disabled] = "isLoading" color="primary" (click)="trackPackage()">Track</button>
        </div>
        <div class="mt-1" *ngIf="isLoading">
          <mat-progress-bar  mode="indeterminate"></mat-progress-bar>
        </div>
        <div *ngIf = "trackPackageError" class="w100 text-center pt-2 pb-2 text-error">
            {{trackPackageError}}
        </div>
    </div>
    <div class="w100">
      <div *ngIf = "package" class="flex justify-space-between">
          <div class="p-1">
            <h4 class="title">Package Details</h4>
            <mat-divider/>
            <mat-list role="list">
              <mat-list-item role="listitem">
                <span class="pr-1">Description : </span>
                <span>{{package.description}}</span>
              </mat-list-item>
              
              <mat-list-item role="listitem">
                <span class="pr-1">Weight : </span>
                <span>{{package.weight}}</span>
              </mat-list-item>
              
              <mat-list-item role="listitem">
                <span class="pr-1">Height : </span>
                <span>{{package.height}}</span>
              </mat-list-item>
              
              <mat-list-item role="listitem">
                <span class="pr-1">Depth : </span>
                <span>{{package.depth}}</span>
              </mat-list-item>
              
              <mat-list-item role="listitem">
                <span class="pr-1">From Name : </span>
                <span>{{package.from_name || ''}}</span>
              </mat-list-item>
              
              <mat-list-item role="listitem">
                <span class="pr-1">From addres : </span>
                <span>{{package.from_address || ""}}</span>
              </mat-list-item>
              
              <mat-list-item role="listitem">
                <span class="pr-1">To Name : </span>
                <span>{{package.to_name || ''}}</span>
              </mat-list-item>
              
              <mat-list-item role="listitem">
                <span class="pr-1">To Address : </span>
                <span>{{package.to_address || ""}}</span>
              </mat-list-item>
            </mat-list>
          </div>
          <div class="p-1">
            
          </div>
      </div>
    </div>
  </div>
</main>


<router-outlet />
