
<app-main class="main">
  <div class="main-content container">
    <h2 class="m-2 text-center w100">
        Web Tracker
    </h2>
    <div class="main-header">
        <div class="flex">
            <input class="track-package-input" placeholder="Enter Package ID" [value]="packageId" (input)="onSearchChange($event.target.value)"/>
            <button mat-flat-button class="ml-2" [disabled] = "isLoading" color="primary" (click)="trackPackage()">Track</button>
        </div>
        <div class="mt-1" *ngIf="isLoading">
          <mat-progress-bar  mode="indeterminate"></mat-progress-bar>
        </div>
        <div *ngIf = "trackPackageError" class="w100 text-center pt-2 pb-2 text-error">
            {{trackPackageError}}
        </div>
    </div>
    <div class="w100">
      <div *ngIf = "package" class="flex justify-space-between">
          <div class="p-1">
            <h4 class="title">Package Details</h4>
            <mat-divider/>
            <list-detail label="Description" value={{package.description}}></list-detail>
            <list-detail label="Weight" value = {{package.weight}}/>
            <list-detail label="Height" value = {{package.height}}/>
            <list-detail label="Depth" value = {{package.depth}}/>
            <list-detail label="From addres" value = {{package.from_address}}/>
            <list-detail label="To Name" value = {{package.to_name}}/>
            <list-detail label="To Address" value = {{package.to_address}}/>
          </div>
          <div class="p-1">
            
          </div>
      </div>
    </div>
  </div>
</app-main>
